In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import missingno

from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, balanced_accuracy_score
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder, LabelBinarizer
from sklearn.impute import SimpleImputer, KNNImputer

from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import OneHotEncoder

from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
import joblib
from sklearn.pipeline import Pipeline

In [33]:
data = pd.read_csv("credit_risk_dataset.csv")

In [34]:
data

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [35]:
df = data.copy(deep = True)

In [36]:
# data imputation
simple_imputer  = SimpleImputer(missing_values=np.nan, strategy='median')

df[['person_emp_length','loan_int_rate']] = simple_imputer.fit_transform(df[['person_emp_length','loan_int_rate']])

In [37]:
#df.drop(df.columns[0], axis=1, inplace=True)

In [38]:
df_1 = df.copy(deep=True)

In [39]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [40]:
y = df['loan_status']
X = df.drop(['loan_status'], axis = 1)

In [54]:
from sklearn.preprocessing import OneHotEncoder


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2 , random_state = 42)

In [58]:
from sklearn.preprocessing import OneHotEncoder
import joblib

# Select categorical columns for one-hot encoding
categorical_columns = ['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file']

# Fit OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_train_encoded = encoder.fit_transform(X_train[categorical_columns])
X_test_encoded = encoder.transform(X_test[categorical_columns])

# Save the encoder
joblib.dump(encoder, "one_hot_encoder.pkl")

C:\Users\nisha\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

['one_hot_encoder.pkl']

In [61]:
X_train_encoded.shape

(26064, 19)

In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

# Assuming you have X_train, X_test, y_train, y_test already defined

# 4. Initialize and train the Random Forest model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train_encoded, y_train)

# 5. Make predictions on the test set
y_pred = rf_model.predict(X_test_encoded)

# 6. Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

# 7. Save the trained model
joblib.dump(rf_model, "random_forest_model.pkl")

Accuracy: 0.8445603805431947
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.97      0.91      5072
           1       0.80      0.40      0.53      1445

    accuracy                           0.84      6517
   macro avg       0.82      0.69      0.72      6517
weighted avg       0.84      0.84      0.82      6517

['random_forest_model.pkl']

In [14]:
new_df = pd.DataFrame(X.iloc[0].T)

In [15]:
new_df

                                   0
person_age                        22
person_income                  59000
person_home_ownership           RENT
person_emp_length              123.0
loan_intent                 PERSONAL
loan_grade                         D
loan_amnt                      35000
loan_int_rate                  16.02
loan_percent_income             0.59
cb_person_default_on_file          Y
cb_person_cred_hist_length         3

In [16]:
new_df = new_df.T
print(new_df.shape)
print(new_df.info())

(1, 11)
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  1 non-null      object
 1   person_income               1 non-null      object
 2   person_home_ownership       1 non-null      object
 3   person_emp_length           1 non-null      object
 4   loan_intent                 1 non-null      object
 5   loan_grade                  1 non-null      object
 6   loan_amnt                   1 non-null      object
 7   loan_int_rate               1 non-null      object
 8   loan_percent_income         1 non-null      object
 9   cb_person_default_on_file   1 non-null      object
 10  cb_person_cred_hist_length  1 non-null      object
dtypes: object(11)
memory usage: 204.0+ bytes
None

In [17]:
new_df.to_csv('details.csv', index=False)

In [18]:
dict_val = new_df.to_dict()

In [19]:
new_pipe.transform(new_df)

AttributeError: 'ColumnTransformer' object has no attribute '_name_to_fitted_passthrough'

In [62]:
pd.DataFrame(dict_val)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3

In [63]:
dict_val

{'person_age': {0: 22},
 'person_income': {0: 59000},
 'person_home_ownership': {0: 'RENT'},
 'person_emp_length': {0: 123.0},
 'loan_intent': {0: 'PERSONAL'},
 'loan_grade': {0: 'D'},
 'loan_amnt': {0: 35000},
 'loan_int_rate': {0: 16.02},
 'loan_percent_income': {0: 0.59},
 'cb_person_default_on_file': {0: 'Y'},
 'cb_person_cred_hist_length': {0: 3}}